option_settings:
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=app/static/
    WSGIPath: application.py

files:
  /home/ec2-user/.bashrc:
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      # .bashrc
      # Source global definitions
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      # User specific aliases and functions
      [ -e ~/.aliases ] && source ~/.aliases

  /home/ec2-user/.aliases:
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      alias ready='cd /opt/python/current/app;source ../env'
      alias al='cat /var/log/httpd/access_log'
      alias el='cat /var/log/httpd/error_log'
      alias tal='tail -f /var/log/httpd/access_log'
      alias tel='tail -f /var/log/httpd/error_log'
      alias t0='ready'
      alias t1='ready;psql ${DATABASE_URI}'
      alias t2='ready;tal'
      alias t3='ready;tel'

  /etc/httpd/conf.d/wsgi_auth.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPAssAuthorization On

  /etc/crontab:
    mode: "000644"
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH=/sbin:/bin:/usr/sbin:/usr/bin
      MAILTO=root
      HOME=/
      # For details see man 4 crontabs
      # Example of job definition:
      # .---------------- minute (0 - 59)
      # |  .------------- hour (0 - 23)
      # |  |  .---------- day of month (1 - 31)
      # |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
      # |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
      # |  |  |  |  |
      # *  *  *  *  * user-name command to be executed
      #
      # TODO: add jobs here
