container_commands:
  01_migrate:
    command: "python manage.py db upgrade"
    leader_only: true
  02_uninstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip uninstall Pillow"
  03_reinstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir"
  04_seed_migrate:
    command: "python manage.py seed update"
    leader_only: true
