<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AppenText</title>
    <!-- icon -->
    <link rel="icon" type="image/png" href="http://resources.appen.com.au/images/icon2.png"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css"/>
    <link href="/static/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/static/css/appentext.css" rel="stylesheet"/>
    <base href="/">
</head>
<body ng-app="appenTextApp">
<div ng-controller="HeaderCtrl as c">
    <h1>Welcome to this great program {{name}}</h1>
    <input ng-model="name">
    <a href='/logout' ng-click="c.logout()">logout</a>
</div>

<h2>current state is: {{'{{$state.$current.name}}'}}</h2>

<div class="container"
     ui-view></div>
<section>
    <script src="/static/libs/angular/angular.min.js"></script>
    <!--<script src="/static/libs/angular/angular-resource.min.js"></script>-->
    <script src="/static/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/libs/ui-bootstrap/dist/ui-bootstrap-0.14.3.min.js"></script>
    <script src="/static/libs/ui-route/release/angular-ui-router.min.js"></script>
    <!--// <script src="/static/libs/angular-google-chart/0.0.11/ng-google-chart.js"></script> -->
    <script src="/static/js/appentext.js"></script>
</section>
</body>
</html>
